.links line {
    stroke: #999;
    stroke-opacity: 1;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
text {
  font-family: sans-serif;
  font-size: 12px;
}

.raw-data{
    max-width: calc(100% - 1200px);
    width: 100%;
}
body{
  display: flex;
  direction: rtl;
}
canvas{
  background:
          linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
          linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
          #f2f2f2;
  background-size:
          10px 10px,
          10px 10px;
}


.lst-kix_tsy7d9cmpnql-7 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-7
}

ol.lst-kix_1eziyh8wpo9m-7.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-7 0
}

.lst-kix_w1b687jpl7aq-2 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-2
}

.lst-kix_ktelr1m10za6-0 > li:before {
    content: "" counter(lst-ctn-kix_ktelr1m10za6-0, upper-roman) ". "
}

.lst-kix_ktelr1m10za6-1 > li:before {
    content: "" counter(lst-ctn-kix_ktelr1m10za6-1, upper-latin) ". "
}

.lst-kix_ktelr1m10za6-3 > li:before {
    content: "" counter(lst-ctn-kix_ktelr1m10za6-3, lower-latin) ") "
}

.lst-kix_olk4fr9lh4l1-8 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-8
}

.lst-kix_ktelr1m10za6-2 > li:before {
    content: "" counter(lst-ctn-kix_ktelr1m10za6-2, decimal) ". "
}

ol.lst-kix_olk4fr9lh4l1-3.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-3 0
}

ol.lst-kix_nmvs9ggv30vs-3.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-3 0
}

.lst-kix_olk4fr9lh4l1-6 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-6
}

.lst-kix_1eziyh8wpo9m-8 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-8
}

.lst-kix_w1b687jpl7aq-0 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-0
}

ol.lst-kix_ktelr1m10za6-3.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-3 0
}

.lst-kix_w1b687jpl7aq-6 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-6
}

.lst-kix_tsy7d9cmpnql-5 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-5
}

ol.lst-kix_olk4fr9lh4l1-8.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-8 0
}

ol.lst-kix_ktelr1m10za6-4.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-4 0
}

.lst-kix_nmvs9ggv30vs-2 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-2
}

ol.lst-kix_nmvs9ggv30vs-5 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-4 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-7 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-6 {
    list-style-type: none
}

.lst-kix_ktelr1m10za6-5 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-5, lower-latin) ") "
}

.lst-kix_ktelr1m10za6-7 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-7, lower-latin) ") "
}

ol.lst-kix_nmvs9ggv30vs-8 {
    list-style-type: none
}

.lst-kix_ktelr1m10za6-4 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-4, decimal) ") "
}

.lst-kix_ktelr1m10za6-8 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-8, lower-roman) ") "
}

.lst-kix_olk4fr9lh4l1-1 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-1
}

.lst-kix_ktelr1m10za6-6 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-6, lower-roman) ") "
}

.lst-kix_olk4fr9lh4l1-4 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-4
}

.lst-kix_ktelr1m10za6-0 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-0
}

ol.lst-kix_olk4fr9lh4l1-2.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-2 0
}

ol.lst-kix_nmvs9ggv30vs-1 {
    list-style-type: none
}

.lst-kix_1eziyh8wpo9m-1 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-1
}

ol.lst-kix_nmvs9ggv30vs-0 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-3 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-2 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-6.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-6 0
}

.lst-kix_1eziyh8wpo9m-5 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-5
}

ol.lst-kix_nmvs9ggv30vs-4.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-4 0
}

.lst-kix_w1b687jpl7aq-3 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-3, decimal) ". "
}

ol.lst-kix_ktelr1m10za6-2.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-2 0
}

ol.lst-kix_nmvs9ggv30vs-1.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-1 0
}

ol.lst-kix_w1b687jpl7aq-1.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-1 0
}

.lst-kix_w1b687jpl7aq-5 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-5, lower-roman) ". "
}

ol.lst-kix_tsy7d9cmpnql-3.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-3 0
}

.lst-kix_w1b687jpl7aq-8 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-8
}

.lst-kix_tsy7d9cmpnql-1 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-1
}

.lst-kix_w1b687jpl7aq-7 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-7, lower-latin) ". "
}

ol.lst-kix_w1b687jpl7aq-4.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-4 0
}

.lst-kix_nmvs9ggv30vs-4 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-4
}

.lst-kix_ktelr1m10za6-7 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-7
}

ol.lst-kix_1eziyh8wpo9m-6.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-6 0
}

ul.lst-kix_ra6imc7ih951-8 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-6 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-7 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-4 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-5 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-2 {
    list-style-type: none
}

.lst-kix_w1b687jpl7aq-1 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-1, lower-latin) ". "
}

ul.lst-kix_ra6imc7ih951-3 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-4.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-4 0
}

ol.lst-kix_olk4fr9lh4l1-7.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-7 0
}

ul.lst-kix_ra6imc7ih951-0 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-1 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-0.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-0 0
}

.lst-kix_olk4fr9lh4l1-0 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-0
}

.lst-kix_ktelr1m10za6-8 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-8
}

.lst-kix_u1g1d1f9q7kh-1 > li:before {
    content: "\0025cb  "
}

ol.lst-kix_tsy7d9cmpnql-4.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-4 0
}

ol.lst-kix_w1b687jpl7aq-3.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-3 0
}

.lst-kix_nmvs9ggv30vs-3 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-3
}

.lst-kix_u1g1d1f9q7kh-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_ktelr1m10za6-2 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-2
}

ol.lst-kix_1eziyh8wpo9m-8.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-8 0
}

.lst-kix_1eziyh8wpo9m-6 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-6
}

.lst-kix_olk4fr9lh4l1-5 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-5
}

.lst-kix_tsy7d9cmpnql-3 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-3, decimal) ". "
}

.lst-kix_w1b687jpl7aq-7 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-7
}

.lst-kix_nmvs9ggv30vs-3 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-3, decimal) ". "
}

.lst-kix_tsy7d9cmpnql-0 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-0
}

.lst-kix_ra6imc7ih951-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_ra6imc7ih951-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_tsy7d9cmpnql-1 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-1, lower-latin) ". "
}

.lst-kix_tsy7d9cmpnql-5 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-5, lower-roman) ". "
}

.lst-kix_nmvs9ggv30vs-1 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-1, lower-latin) ". "
}

.lst-kix_nmvs9ggv30vs-5 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-5, lower-roman) ". "
}

ol.lst-kix_tsy7d9cmpnql-7 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-6 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-8 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-1.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-1 0
}

ol.lst-kix_tsy7d9cmpnql-3 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-2 {
    list-style-type: none
}

.lst-kix_w1b687jpl7aq-1 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-1
}

ol.lst-kix_w1b687jpl7aq-2.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-2 0
}

ol.lst-kix_olk4fr9lh4l1-5.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-5 0
}

ol.lst-kix_tsy7d9cmpnql-5 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-5.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-5 0
}

ol.lst-kix_tsy7d9cmpnql-4 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-1 {
    list-style-type: none
}

.lst-kix_ra6imc7ih951-8 > li:before {
    content: "\0025a0  "
}

ol.lst-kix_tsy7d9cmpnql-0 {
    list-style-type: none
}

.lst-kix_u1g1d1f9q7kh-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_tsy7d9cmpnql-7 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-7, lower-latin) ". "
}

.lst-kix_u1g1d1f9q7kh-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_nmvs9ggv30vs-7 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-7, lower-latin) ". "
}

.lst-kix_tsy7d9cmpnql-6 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-6
}

.lst-kix_ra6imc7ih951-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_ra6imc7ih951-4 > li:before {
    content: "\0025cb  "
}

ol.lst-kix_nmvs9ggv30vs-2.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-2 0
}

ol.lst-kix_olk4fr9lh4l1-6.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-6 0
}

ol.lst-kix_w1b687jpl7aq-5.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-5 0
}

ul.lst-kix_u1g1d1f9q7kh-2 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-3 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-0 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-1 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-6 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-7 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-4 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-5 {
    list-style-type: none
}

.lst-kix_tsy7d9cmpnql-8 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-8
}

ul.lst-kix_u1g1d1f9q7kh-8 {
    list-style-type: none
}

.lst-kix_tsy7d9cmpnql-0 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-0, upper-latin) ". "
}

.lst-kix_nmvs9ggv30vs-1 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-1
}

.lst-kix_1eziyh8wpo9m-0 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-0
}

ol.lst-kix_olk4fr9lh4l1-0.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-0 0
}

.lst-kix_olk4fr9lh4l1-8 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-8, decimal) ". "
}

.lst-kix_olk4fr9lh4l1-7 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-7, lower-roman) ". "
}

.lst-kix_olk4fr9lh4l1-6 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-6, lower-latin) ". "
}

.lst-kix_ktelr1m10za6-1 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-1
}

ol.lst-kix_ktelr1m10za6-6.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-6 0
}

ol.lst-kix_nmvs9ggv30vs-0.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-0 0
}

.lst-kix_w1b687jpl7aq-3 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-3
}

ol.lst-kix_tsy7d9cmpnql-7.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-7 0
}

ol.lst-kix_w1b687jpl7aq-0.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-0 0
}

.lst-kix_1eziyh8wpo9m-2 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-2, lower-roman) ". "
}

ol.lst-kix_w1b687jpl7aq-0 {
    list-style-type: none
}

.lst-kix_1eziyh8wpo9m-4 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-4, lower-latin) ". "
}

.lst-kix_1eziyh8wpo9m-1 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-1, lower-latin) ". "
}

ol.lst-kix_1eziyh8wpo9m-5.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-5 0
}

.lst-kix_1eziyh8wpo9m-5 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-5, lower-roman) ". "
}

.lst-kix_1eziyh8wpo9m-7 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-7
}

ol.lst-kix_w1b687jpl7aq-6 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-1.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-1 0
}

.lst-kix_nmvs9ggv30vs-8 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-8
}

ol.lst-kix_w1b687jpl7aq-5 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-8 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-7 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-2 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-1 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-4 {
    list-style-type: none
}

.lst-kix_1eziyh8wpo9m-3 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-3, decimal) ". "
}

ol.lst-kix_w1b687jpl7aq-3 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-6.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-6 0
}

.lst-kix_olk4fr9lh4l1-3 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-3, lower-latin) ". "
}

ol.lst-kix_tsy7d9cmpnql-1.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-1 0
}

.lst-kix_olk4fr9lh4l1-1 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-1, lower-roman) ". "
}

.lst-kix_olk4fr9lh4l1-5 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-5, decimal) ". "
}

ol.lst-kix_tsy7d9cmpnql-8.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-8 0
}

.lst-kix_olk4fr9lh4l1-0 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-0, lower-latin) ". "
}

.lst-kix_olk4fr9lh4l1-4 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-4, lower-roman) ". "
}

.lst-kix_1eziyh8wpo9m-0 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-0, upper-latin) ". "
}

.lst-kix_tsy7d9cmpnql-4 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-4
}

.lst-kix_w1b687jpl7aq-5 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-5
}

.lst-kix_olk4fr9lh4l1-2 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-2, decimal) ". "
}

ol.lst-kix_1eziyh8wpo9m-2 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-1 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-0 {
    list-style-type: none
}

.lst-kix_ktelr1m10za6-6 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-6
}

ol.lst-kix_tsy7d9cmpnql-2.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-2 0
}

ol.lst-kix_nmvs9ggv30vs-5.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-5 0
}

.lst-kix_ktelr1m10za6-3 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-3
}

.lst-kix_olk4fr9lh4l1-7 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-7
}

.lst-kix_1eziyh8wpo9m-4 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-4
}

.lst-kix_1eziyh8wpo9m-6 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-6, decimal) ". "
}

.lst-kix_1eziyh8wpo9m-8 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-8, lower-roman) ". "
}

ol.lst-kix_1eziyh8wpo9m-4.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-4 0
}

.lst-kix_1eziyh8wpo9m-7 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-7, lower-latin) ". "
}

ol.lst-kix_ktelr1m10za6-3 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-5.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-5 0
}

ol.lst-kix_ktelr1m10za6-4 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-1 {
    list-style-type: none
}

.lst-kix_olk4fr9lh4l1-2 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-2
}

ol.lst-kix_1eziyh8wpo9m-0.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-0 0
}

ol.lst-kix_ktelr1m10za6-2 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-0 {
    list-style-type: none
}

.lst-kix_w1b687jpl7aq-2 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-2, lower-roman) ". "
}

.lst-kix_nmvs9ggv30vs-6 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-6
}

ol.lst-kix_1eziyh8wpo9m-3.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-3 0
}

.lst-kix_w1b687jpl7aq-4 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-4, lower-latin) ". "
}

.lst-kix_w1b687jpl7aq-6 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-6, decimal) ". "
}

ol.lst-kix_1eziyh8wpo9m-6 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-5 {
    list-style-type: none
}

.lst-kix_nmvs9ggv30vs-5 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-5
}

ol.lst-kix_1eziyh8wpo9m-4 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-3 {
    list-style-type: none
}

.lst-kix_w1b687jpl7aq-8 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-8, lower-roman) ". "
}

ol.lst-kix_ktelr1m10za6-7 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-8 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-8 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-5 {
    list-style-type: none
}

.lst-kix_ktelr1m10za6-5 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-5
}

ol.lst-kix_1eziyh8wpo9m-7 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-6 {
    list-style-type: none
}

.lst-kix_1eziyh8wpo9m-3 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-3
}

.lst-kix_ktelr1m10za6-4 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-4
}

ol.lst-kix_tsy7d9cmpnql-0.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-0 0
}

ol.lst-kix_w1b687jpl7aq-6.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-6 0
}

.lst-kix_tsy7d9cmpnql-2 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-2
}

.lst-kix_olk4fr9lh4l1-3 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-3
}

ol.lst-kix_nmvs9ggv30vs-7.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-7 0
}

.lst-kix_w1b687jpl7aq-0 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-0, decimal) ". "
}

.lst-kix_nmvs9ggv30vs-7 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-7
}

.lst-kix_u1g1d1f9q7kh-0 > li:before {
    content: "\0025cf  "
}

ol.lst-kix_olk4fr9lh4l1-0 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-2.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-2 0
}

.lst-kix_1eziyh8wpo9m-2 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-2
}

ol.lst-kix_w1b687jpl7aq-7.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-7 0
}

.lst-kix_u1g1d1f9q7kh-8 > li:before {
    content: "\0025a0  "
}

ol.lst-kix_ktelr1m10za6-7.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-7 0
}

ol.lst-kix_olk4fr9lh4l1-4 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-3 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-2 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-1 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-8 {
    list-style-type: none
}

.lst-kix_nmvs9ggv30vs-0 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-0, decimal) ". "
}

ol.lst-kix_olk4fr9lh4l1-7 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-6 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-5 {
    list-style-type: none
}

.lst-kix_nmvs9ggv30vs-2 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-2, lower-roman) ". "
}

.lst-kix_tsy7d9cmpnql-2 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-2, lower-roman) ". "
}

.lst-kix_tsy7d9cmpnql-4 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-4, lower-latin) ". "
}

.lst-kix_w1b687jpl7aq-4 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-4
}

.lst-kix_tsy7d9cmpnql-3 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-3
}

.lst-kix_ra6imc7ih951-3 > li:before {
    content: "\0025cf  "
}

ol.lst-kix_1eziyh8wpo9m-1.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-1 0
}

ol.lst-kix_nmvs9ggv30vs-8.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-8 0
}

.lst-kix_nmvs9ggv30vs-4 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-4, lower-latin) ". "
}

li.li-bullet-0:before {
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
    margin-right: 18pt
}

.lst-kix_ra6imc7ih951-1 > li:before {
    content: "\0025cb  "
}

ol.lst-kix_ktelr1m10za6-8.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-8 0
}

.lst-kix_u1g1d1f9q7kh-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_ra6imc7ih951-7 > li:before {
    content: "\0025cb  "
}

ol.lst-kix_w1b687jpl7aq-8.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-8 0
}

.lst-kix_nmvs9ggv30vs-0 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-0
}

.lst-kix_ra6imc7ih951-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_nmvs9ggv30vs-6 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-6, decimal) ". "
}

.lst-kix_tsy7d9cmpnql-6 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-6, decimal) ". "
}

.lst-kix_tsy7d9cmpnql-8 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-8, lower-roman) ". "
}

.lst-kix_u1g1d1f9q7kh-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_u1g1d1f9q7kh-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_nmvs9ggv30vs-8 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-8, lower-roman) ". "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c9 {
    color: #353744;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c1 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c0 {
    color: #00ab44;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c7 {
    color: #353744;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c10 {
    color: #353744;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c4 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    orphans: 2;
    widows: 2;
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c15 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

.c19 {
    color: #353744;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c21 {
    color: #353744;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 36pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c13 {
    padding-top: 24pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

.c3 {
    padding-top: 16pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

.c8 {
    font-size: 11pt;
    font-family: "Arial";
    color: #202124;
    font-weight: 400
}

.c22 {
    background-color: #ffffff;
}

.c20 {
    font-size: 18pt;
    font-family: "Arial";
    color: #202124
}

.c12 {
    padding: 0;
    margin: 0
}

.c6 {
    color: #666666;
    font-size: 10pt
}

.c5 {
    margin-right: 36pt;
    padding-right: 0pt
}

.c17 {
    font-size: 10pt
}

.c18 {
    font-size: 11pt
}

.c11 {
    height: 11pt
}

.c16 {
    font-weight: 400
}

.title {
    padding-top: 16pt;
    color: #353744;
    font-size: 36pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 13pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

li {
    color: #353744;
    font-size: 11pt;
    font-family: "Proxima Nova"
}

p {
    margin: 0;
    color: #353744;
    font-size: 11pt;
    font-family: "Proxima Nova"
}

h1 {
    padding-top: 24pt;
    color: #353744;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

h2 {
    padding-top: 16pt;
    color: #00ab44;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

h3 {
    padding-top: 10pt;
    color: #353744;
    font-size: 13pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
}

h4 {
    padding-top: 8pt;
    -webkit-text-decoration-skip: none;
    color: #666666;
    text-decoration: underline;
    font-size: 11pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    page-break-after: avoid;
    text-decoration-skip-ink: none;
    font-family: "Trebuchet MS";
    orphans: 2;
    widows: 2;
}

h5 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.3;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
}

h6 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.3;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
}

.lst-kix_tsy7d9cmpnql-7 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-7
}

ol.lst-kix_1eziyh8wpo9m-7.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-7 0
}

.lst-kix_w1b687jpl7aq-2 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-2
}

.lst-kix_ktelr1m10za6-0 > li:before {
    content: "" counter(lst-ctn-kix_ktelr1m10za6-0, upper-roman) ". "
}

.lst-kix_ktelr1m10za6-1 > li:before {
    content: "" counter(lst-ctn-kix_ktelr1m10za6-1, upper-latin) ". "
}

.lst-kix_ktelr1m10za6-3 > li:before {
    content: "" counter(lst-ctn-kix_ktelr1m10za6-3, lower-latin) ") "
}

.lst-kix_olk4fr9lh4l1-8 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-8
}

.lst-kix_ktelr1m10za6-2 > li:before {
    content: "" counter(lst-ctn-kix_ktelr1m10za6-2, decimal) ". "
}

ol.lst-kix_olk4fr9lh4l1-3.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-3 0
}

ol.lst-kix_nmvs9ggv30vs-3.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-3 0
}

.lst-kix_olk4fr9lh4l1-6 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-6
}

.lst-kix_1eziyh8wpo9m-8 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-8
}

.lst-kix_w1b687jpl7aq-0 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-0
}

ol.lst-kix_ktelr1m10za6-3.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-3 0
}

.lst-kix_w1b687jpl7aq-6 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-6
}

.lst-kix_tsy7d9cmpnql-5 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-5
}

ol.lst-kix_olk4fr9lh4l1-8.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-8 0
}

ol.lst-kix_ktelr1m10za6-4.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-4 0
}

.lst-kix_nmvs9ggv30vs-2 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-2
}

ol.lst-kix_nmvs9ggv30vs-5 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-4 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-7 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-6 {
    list-style-type: none
}

.lst-kix_ktelr1m10za6-5 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-5, lower-latin) ") "
}

.lst-kix_ktelr1m10za6-7 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-7, lower-latin) ") "
}

ol.lst-kix_nmvs9ggv30vs-8 {
    list-style-type: none
}

.lst-kix_ktelr1m10za6-4 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-4, decimal) ") "
}

.lst-kix_ktelr1m10za6-8 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-8, lower-roman) ") "
}

.lst-kix_olk4fr9lh4l1-1 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-1
}

.lst-kix_ktelr1m10za6-6 > li:before {
    content: "(" counter(lst-ctn-kix_ktelr1m10za6-6, lower-roman) ") "
}

.lst-kix_olk4fr9lh4l1-4 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-4
}

.lst-kix_ktelr1m10za6-0 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-0
}

ol.lst-kix_olk4fr9lh4l1-2.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-2 0
}

ol.lst-kix_nmvs9ggv30vs-1 {
    list-style-type: none
}

.lst-kix_1eziyh8wpo9m-1 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-1
}

ol.lst-kix_nmvs9ggv30vs-0 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-3 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-2 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-6.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-6 0
}

.lst-kix_1eziyh8wpo9m-5 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-5
}

ol.lst-kix_nmvs9ggv30vs-4.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-4 0
}

.lst-kix_w1b687jpl7aq-3 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-3, decimal) ". "
}

ol.lst-kix_ktelr1m10za6-2.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-2 0
}

ol.lst-kix_nmvs9ggv30vs-1.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-1 0
}

ol.lst-kix_w1b687jpl7aq-1.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-1 0
}

.lst-kix_w1b687jpl7aq-5 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-5, lower-roman) ". "
}

ol.lst-kix_tsy7d9cmpnql-3.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-3 0
}

.lst-kix_w1b687jpl7aq-8 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-8
}

.lst-kix_tsy7d9cmpnql-1 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-1
}

.lst-kix_w1b687jpl7aq-7 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-7, lower-latin) ". "
}

ol.lst-kix_w1b687jpl7aq-4.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-4 0
}

.lst-kix_nmvs9ggv30vs-4 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-4
}

.lst-kix_ktelr1m10za6-7 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-7
}

ol.lst-kix_1eziyh8wpo9m-6.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-6 0
}

ul.lst-kix_ra6imc7ih951-8 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-6 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-7 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-4 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-5 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-2 {
    list-style-type: none
}

.lst-kix_w1b687jpl7aq-1 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-1, lower-latin) ". "
}

ul.lst-kix_ra6imc7ih951-3 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-4.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-4 0
}

ol.lst-kix_olk4fr9lh4l1-7.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-7 0
}

ul.lst-kix_ra6imc7ih951-0 {
    list-style-type: none
}

ul.lst-kix_ra6imc7ih951-1 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-0.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-0 0
}

.lst-kix_olk4fr9lh4l1-0 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-0
}

.lst-kix_ktelr1m10za6-8 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-8
}

.lst-kix_u1g1d1f9q7kh-1 > li:before {
    content: "\0025cb  "
}

ol.lst-kix_tsy7d9cmpnql-4.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-4 0
}

ol.lst-kix_w1b687jpl7aq-3.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-3 0
}

.lst-kix_nmvs9ggv30vs-3 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-3
}

.lst-kix_u1g1d1f9q7kh-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_ktelr1m10za6-2 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-2
}

ol.lst-kix_1eziyh8wpo9m-8.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-8 0
}

.lst-kix_1eziyh8wpo9m-6 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-6
}

.lst-kix_olk4fr9lh4l1-5 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-5
}

.lst-kix_tsy7d9cmpnql-3 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-3, decimal) ". "
}

.lst-kix_w1b687jpl7aq-7 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-7
}

.lst-kix_nmvs9ggv30vs-3 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-3, decimal) ". "
}

.lst-kix_tsy7d9cmpnql-0 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-0
}

.lst-kix_ra6imc7ih951-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_ra6imc7ih951-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_tsy7d9cmpnql-1 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-1, lower-latin) ". "
}

.lst-kix_tsy7d9cmpnql-5 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-5, lower-roman) ". "
}

.lst-kix_nmvs9ggv30vs-1 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-1, lower-latin) ". "
}

.lst-kix_nmvs9ggv30vs-5 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-5, lower-roman) ". "
}

ol.lst-kix_tsy7d9cmpnql-7 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-6 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-8 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-1.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-1 0
}

ol.lst-kix_tsy7d9cmpnql-3 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-2 {
    list-style-type: none
}

.lst-kix_w1b687jpl7aq-1 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-1
}

ol.lst-kix_w1b687jpl7aq-2.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-2 0
}

ol.lst-kix_olk4fr9lh4l1-5.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-5 0
}

ol.lst-kix_tsy7d9cmpnql-5 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-5.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-5 0
}

ol.lst-kix_tsy7d9cmpnql-4 {
    list-style-type: none
}

ol.lst-kix_tsy7d9cmpnql-1 {
    list-style-type: none
}

.lst-kix_ra6imc7ih951-8 > li:before {
    content: "\0025a0  "
}

ol.lst-kix_tsy7d9cmpnql-0 {
    list-style-type: none
}

.lst-kix_u1g1d1f9q7kh-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_tsy7d9cmpnql-7 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-7, lower-latin) ". "
}

.lst-kix_u1g1d1f9q7kh-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_nmvs9ggv30vs-7 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-7, lower-latin) ". "
}

.lst-kix_tsy7d9cmpnql-6 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-6
}

.lst-kix_ra6imc7ih951-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_ra6imc7ih951-4 > li:before {
    content: "\0025cb  "
}

ol.lst-kix_nmvs9ggv30vs-2.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-2 0
}

ol.lst-kix_olk4fr9lh4l1-6.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-6 0
}

ol.lst-kix_w1b687jpl7aq-5.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-5 0
}

ul.lst-kix_u1g1d1f9q7kh-2 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-3 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-0 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-1 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-6 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-7 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-4 {
    list-style-type: none
}

ul.lst-kix_u1g1d1f9q7kh-5 {
    list-style-type: none
}

.lst-kix_tsy7d9cmpnql-8 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-8
}

ul.lst-kix_u1g1d1f9q7kh-8 {
    list-style-type: none
}

.lst-kix_tsy7d9cmpnql-0 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-0, upper-latin) ". "
}

.lst-kix_nmvs9ggv30vs-1 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-1
}

.lst-kix_1eziyh8wpo9m-0 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-0
}

ol.lst-kix_olk4fr9lh4l1-0.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-0 0
}

.lst-kix_olk4fr9lh4l1-8 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-8, decimal) ". "
}

.lst-kix_olk4fr9lh4l1-7 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-7, lower-roman) ". "
}

.lst-kix_olk4fr9lh4l1-6 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-6, lower-latin) ". "
}

.lst-kix_ktelr1m10za6-1 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-1
}

ol.lst-kix_ktelr1m10za6-6.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-6 0
}

ol.lst-kix_nmvs9ggv30vs-0.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-0 0
}

.lst-kix_w1b687jpl7aq-3 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-3
}

ol.lst-kix_tsy7d9cmpnql-7.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-7 0
}

ol.lst-kix_w1b687jpl7aq-0.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-0 0
}

.lst-kix_1eziyh8wpo9m-2 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-2, lower-roman) ". "
}

ol.lst-kix_w1b687jpl7aq-0 {
    list-style-type: none
}

.lst-kix_1eziyh8wpo9m-4 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-4, lower-latin) ". "
}

.lst-kix_1eziyh8wpo9m-1 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-1, lower-latin) ". "
}

ol.lst-kix_1eziyh8wpo9m-5.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-5 0
}

.lst-kix_1eziyh8wpo9m-5 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-5, lower-roman) ". "
}

.lst-kix_1eziyh8wpo9m-7 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-7
}

ol.lst-kix_w1b687jpl7aq-6 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-1.start {
    counter-reset: lst-ctn-kix_olk4fr9lh4l1-1 0
}

.lst-kix_nmvs9ggv30vs-8 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-8
}

ol.lst-kix_w1b687jpl7aq-5 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-8 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-7 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-2 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-1 {
    list-style-type: none
}

ol.lst-kix_w1b687jpl7aq-4 {
    list-style-type: none
}

.lst-kix_1eziyh8wpo9m-3 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-3, decimal) ". "
}

ol.lst-kix_w1b687jpl7aq-3 {
    list-style-type: none
}

ol.lst-kix_nmvs9ggv30vs-6.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-6 0
}

.lst-kix_olk4fr9lh4l1-3 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-3, lower-latin) ". "
}

ol.lst-kix_tsy7d9cmpnql-1.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-1 0
}

.lst-kix_olk4fr9lh4l1-1 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-1, lower-roman) ". "
}

.lst-kix_olk4fr9lh4l1-5 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-5, decimal) ". "
}

ol.lst-kix_tsy7d9cmpnql-8.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-8 0
}

.lst-kix_olk4fr9lh4l1-0 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-0, lower-latin) ". "
}

.lst-kix_olk4fr9lh4l1-4 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-4, lower-roman) ". "
}

.lst-kix_1eziyh8wpo9m-0 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-0, upper-latin) ". "
}

.lst-kix_tsy7d9cmpnql-4 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-4
}

.lst-kix_w1b687jpl7aq-5 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-5
}

.lst-kix_olk4fr9lh4l1-2 > li:before {
    content: "" counter(lst-ctn-kix_olk4fr9lh4l1-2, decimal) ". "
}

ol.lst-kix_1eziyh8wpo9m-2 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-1 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-0 {
    list-style-type: none
}

.lst-kix_ktelr1m10za6-6 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-6
}

ol.lst-kix_tsy7d9cmpnql-2.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-2 0
}

ol.lst-kix_nmvs9ggv30vs-5.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-5 0
}

.lst-kix_ktelr1m10za6-3 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-3
}

.lst-kix_olk4fr9lh4l1-7 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-7
}

.lst-kix_1eziyh8wpo9m-4 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-4
}

.lst-kix_1eziyh8wpo9m-6 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-6, decimal) ". "
}

.lst-kix_1eziyh8wpo9m-8 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-8, lower-roman) ". "
}

ol.lst-kix_1eziyh8wpo9m-4.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-4 0
}

.lst-kix_1eziyh8wpo9m-7 > li:before {
    content: "" counter(lst-ctn-kix_1eziyh8wpo9m-7, lower-latin) ". "
}

ol.lst-kix_ktelr1m10za6-3 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-5.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-5 0
}

ol.lst-kix_ktelr1m10za6-4 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-1 {
    list-style-type: none
}

.lst-kix_olk4fr9lh4l1-2 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-2
}

ol.lst-kix_1eziyh8wpo9m-0.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-0 0
}

ol.lst-kix_ktelr1m10za6-2 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-0 {
    list-style-type: none
}

.lst-kix_w1b687jpl7aq-2 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-2, lower-roman) ". "
}

.lst-kix_nmvs9ggv30vs-6 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-6
}

ol.lst-kix_1eziyh8wpo9m-3.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-3 0
}

.lst-kix_w1b687jpl7aq-4 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-4, lower-latin) ". "
}

.lst-kix_w1b687jpl7aq-6 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-6, decimal) ". "
}

ol.lst-kix_1eziyh8wpo9m-6 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-5 {
    list-style-type: none
}

.lst-kix_nmvs9ggv30vs-5 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-5
}

ol.lst-kix_1eziyh8wpo9m-4 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-3 {
    list-style-type: none
}

.lst-kix_w1b687jpl7aq-8 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-8, lower-roman) ". "
}

ol.lst-kix_ktelr1m10za6-7 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-8 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-8 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-5 {
    list-style-type: none
}

.lst-kix_ktelr1m10za6-5 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-5
}

ol.lst-kix_1eziyh8wpo9m-7 {
    list-style-type: none
}

ol.lst-kix_ktelr1m10za6-6 {
    list-style-type: none
}

.lst-kix_1eziyh8wpo9m-3 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-3
}

.lst-kix_ktelr1m10za6-4 > li {
    counter-increment: lst-ctn-kix_ktelr1m10za6-4
}

ol.lst-kix_tsy7d9cmpnql-0.start {
    counter-reset: lst-ctn-kix_tsy7d9cmpnql-0 0
}

ol.lst-kix_w1b687jpl7aq-6.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-6 0
}

.lst-kix_tsy7d9cmpnql-2 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-2
}

.lst-kix_olk4fr9lh4l1-3 > li {
    counter-increment: lst-ctn-kix_olk4fr9lh4l1-3
}

ol.lst-kix_nmvs9ggv30vs-7.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-7 0
}

.lst-kix_w1b687jpl7aq-0 > li:before {
    content: "" counter(lst-ctn-kix_w1b687jpl7aq-0, decimal) ". "
}

.lst-kix_nmvs9ggv30vs-7 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-7
}

.lst-kix_u1g1d1f9q7kh-0 > li:before {
    content: "\0025cf  "
}

ol.lst-kix_olk4fr9lh4l1-0 {
    list-style-type: none
}

ol.lst-kix_1eziyh8wpo9m-2.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-2 0
}

.lst-kix_1eziyh8wpo9m-2 > li {
    counter-increment: lst-ctn-kix_1eziyh8wpo9m-2
}

ol.lst-kix_w1b687jpl7aq-7.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-7 0
}

.lst-kix_u1g1d1f9q7kh-8 > li:before {
    content: "\0025a0  "
}

ol.lst-kix_ktelr1m10za6-7.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-7 0
}

ol.lst-kix_olk4fr9lh4l1-4 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-3 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-2 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-1 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-8 {
    list-style-type: none
}

.lst-kix_nmvs9ggv30vs-0 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-0, decimal) ". "
}

ol.lst-kix_olk4fr9lh4l1-7 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-6 {
    list-style-type: none
}

ol.lst-kix_olk4fr9lh4l1-5 {
    list-style-type: none
}

.lst-kix_nmvs9ggv30vs-2 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-2, lower-roman) ". "
}

.lst-kix_tsy7d9cmpnql-2 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-2, lower-roman) ". "
}

.lst-kix_tsy7d9cmpnql-4 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-4, lower-latin) ". "
}

.lst-kix_w1b687jpl7aq-4 > li {
    counter-increment: lst-ctn-kix_w1b687jpl7aq-4
}

.lst-kix_tsy7d9cmpnql-3 > li {
    counter-increment: lst-ctn-kix_tsy7d9cmpnql-3
}

.lst-kix_ra6imc7ih951-3 > li:before {
    content: "\0025cf  "
}

ol.lst-kix_1eziyh8wpo9m-1.start {
    counter-reset: lst-ctn-kix_1eziyh8wpo9m-1 0
}

ol.lst-kix_nmvs9ggv30vs-8.start {
    counter-reset: lst-ctn-kix_nmvs9ggv30vs-8 0
}

.lst-kix_nmvs9ggv30vs-4 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-4, lower-latin) ". "
}

li.li-bullet-0:before {
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
    margin-right: 18pt
}

.lst-kix_ra6imc7ih951-1 > li:before {
    content: "\0025cb  "
}

ol.lst-kix_ktelr1m10za6-8.start {
    counter-reset: lst-ctn-kix_ktelr1m10za6-8 0
}

.lst-kix_u1g1d1f9q7kh-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_ra6imc7ih951-7 > li:before {
    content: "\0025cb  "
}

ol.lst-kix_w1b687jpl7aq-8.start {
    counter-reset: lst-ctn-kix_w1b687jpl7aq-8 0
}

.lst-kix_nmvs9ggv30vs-0 > li {
    counter-increment: lst-ctn-kix_nmvs9ggv30vs-0
}

.lst-kix_ra6imc7ih951-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_nmvs9ggv30vs-6 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-6, decimal) ". "
}

.lst-kix_tsy7d9cmpnql-6 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-6, decimal) ". "
}

.lst-kix_tsy7d9cmpnql-8 > li:before {
    content: "" counter(lst-ctn-kix_tsy7d9cmpnql-8, lower-roman) ". "
}

.lst-kix_u1g1d1f9q7kh-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_u1g1d1f9q7kh-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_nmvs9ggv30vs-8 > li:before {
    content: "" counter(lst-ctn-kix_nmvs9ggv30vs-8, lower-roman) ". "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c1 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    orphans: 2;
    widows: 2;
    text-align: right;
    margin-right: 36pt;
    padding-right: 0pt
}

.c5 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c2 {
    color: #353744;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 36pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c4 {
    color: #353744;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c19 {
    color: #353744;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c0 {
    color: #353744;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c3 {
    color: #00ab44;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Proxima Nova";
    font-style: normal
}

.c16 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right;
    height: 11pt
}

.c12 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c18 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c15 {
    padding-top: 24pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c9 {
    padding-top: 16pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c23 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c21 {
    color: #353744;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Proxima Nova";
    font-style: normal
}
iframe{
    width:100%;
    height:100%;
}
.c8 {
    font-size: 11pt;
    font-family: "Arial";
    color: #202124
}
.logo{
    max-width: 150px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.c14 {
    background-color: #ffffff;
    padding: 40px;
}

.c20 {
    padding: 0;
    margin: 0
}

.c6 {
    background-color: rgba(	159, 197, 232,0);
    font-size: 10pt
}
.c6.hovered{
    background-color: rgba(	159, 197, 232,1);
}
.c10 {
    font-size: 10pt
}

.c13 {
    color: #666666
}

.c7 {
    font-weight: 400
}

.c22 {
    background-color: rgba(234,153,153,0);
}
.c22.hovered{
    background-color: rgba(234,153,153,1);
}

.c17 {
    background-color: rgba(255,255,0,0);
}
.c17.hovered{
    background-color: rgba(255,255,0,1);
}
.c11 {
    font-size: 11pt
}

.title {
    padding-top: 16pt;
    color: #353744;
    font-size: 36pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 13pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

li {
    color: #353744;
    font-size: 11pt;
    font-family: "Proxima Nova"
}

p {
    margin: 0;
    color: #353744;
    font-size: 11pt;
    font-family: "Proxima Nova"
}

h1 {
    padding-top: 24pt;
    color: #353744;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

h2 {
    padding-top: 16pt;
    color: #00ab44;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

h3 {
    padding-top: 10pt;
    color: #353744;
    font-size: 13pt;
    padding-bottom: 0pt;
    font-family: "Proxima Nova";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: right
}

h4 {
    padding-top: 8pt;
    -webkit-text-decoration-skip: none;
    color: #666666;
    text-decoration: underline;
    font-size: 11pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    page-break-after: avoid;
    text-decoration-skip-ink: none;
    font-family: "Trebuchet MS";
    orphans: 2;
    widows: 2;
    text-align: right
}

h5 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.3;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: right
}

h6 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.3;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
}