.App {
  display: flex;
  height: 100vh;
  .right-panel {
    position: relative;
    width: calc(100% - 30%);
    height: 100%;
  }

  .cv {
    position: relative;
    width: 30%;
    height: 100%;
  }
}
