.App {
  display: flex;
  height: 100vh;
}
.App .right-panel {
  position: relative;
  width: 70%;
  height: 100%;
}
.App .cv {
  position: relative;
  width: 30%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
